.medals-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .medals-content {
    grid-template-columns: 1fr; /* 手機改成上下排列 */
  }
}
.hero {
  position: relative;
  height: 100vh; /* 全螢幕高 */
  background-image: url("images/eagle.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.big-img {
  width: 100%;    /* 撐滿整欄 */
  height: auto;   /* 保持比例 */
  object-fit: cover; /* 若搭配固定高度，可裁切鋪滿 */
}
.col-box {
  color: white;
  text-align: center;
  padding: 100px 0;
  font-size: 1.5rem;
  background-size: cover;      /* 撐滿區塊 */
  background-position: center; /* 置中 */
}
.medals-cards .card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
