@font-face {
  font-family: 'NotoSansJP';
  src: url('./fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'KASTROO';
  src: url('./fonts/KASTROO.ttf') format('truetype');
}
/* NAVBAR */
* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 15px 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(247, 247, 247, 0.7);
  backdrop-filter: blur(8px);
  z-index: 1000;
  font-family: 'Outfit', sans-serif;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: rgb(74, 87, 231);
  text-decoration: none;
  font-size: 12px;
}

.menu-btn {
  display: none; /* ✅ 預設桌機不顯示 */
  font-size: 25px;
  color: rgb(74, 87, 231);
  cursor: pointer;
}

/* 手機響應式 */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* ✅ 手機隱藏桌機選單 */
  }

  .menu-btn {
    display: block; /* ✅ 手機顯示漢堡 */
  }
}


/* =======================
   全螢幕選單（Overlay）
======================= */
.fullscreen-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  z-index: 9999;
}

.fullscreen-nav.active {
  opacity: 1;
  pointer-events: auto;
}

.fullscreen-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* 手機文字 decoration底線 */
.fullscreen-links a {
  color: rgb(74, 87, 231);
  font-size: 40px;
  text-decoration: none;
  font-family: 'KASTROO';
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: rgb(74, 87, 231);
  cursor: pointer;
}


html,
body {
  margin: 0;
  padding: 0;
}
.contact-page-main {
  min-height: 100svh; /* 手機安全 */
  width: 100%;

  display: grid;
  place-items: center;

  padding: clamp(24px, 5vw, 80px);
}


.contact-page-logo-outer {
  position: relative;

  width: clamp(280px, 60vw, 900px);
  aspect-ratio: 16 / 9;

  border-radius: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
}

.parallax-bg {
  position: absolute;
  inset: 0;

  background: url(images/contact/bg001.svg) no-repeat center;
  background-size: contain;

  transform: translateZ(-40px) scale(1.06);
}
.parallax-word {
  width: clamp(65%, 70vw, 900px);
  max-width: none;
}

@media (max-width: 768px) {
  .parallax-word {
    width: 85%;
  }
}


.parallax-word {
  transition: filter 0.4s ease;
}

.contact-page-logo-outer:hover .parallax-word {
  filter: drop-shadow(0 20px 40px rgba(0,0,0,0.15));
}


