/* 字體 */
@font-face {
  font-family: 'CosmikOrchestra';
  src: url('./fonts/Cosmik Orchestra.ttf') format('truetype');
}

@font-face {
  font-family: 'KASTROO';
  src: url('./fonts/KASTROO.ttf') format('truetype');
}

/* NAVBAR */
* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 40px;
}
/* 桌機選單 */
.nav-links a {
  color: rgb(214, 255, 63);
  text-decoration: none;
  font-size: 12px;
}

/* 手機漢堡按鈕 */
.menu-btn {
  font-size: 25px;
  color: rgb(214, 255, 63);
  cursor: pointer;
  display: none;
}

/* =======================
   全螢幕選單（Overlay）
======================= */
.fullscreen-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  z-index: 9999;
}

.fullscreen-nav.active {
  opacity: 1;
  pointer-events: auto;
}

.fullscreen-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* 手機文字 decoration底線 */
.fullscreen-links a {
  color: rgb(214, 255, 63);
  font-size: 40px;
  text-decoration: none;
  font-family: 'KASTROO';
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: rgb(214, 255, 63);
  cursor: pointer;
}

/* =======================
    HERO
======================= */
body {
  margin: 0;
  background: black;
  color: white;
  font-family: 'Outfit', sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.hero h1 {
  font-size: 64px;
  text-align: center;
  font-family: 'CosmikOrchestra';
}

/* SERVICES */
.services {
  padding: 80px 10%;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-box {
  border: 1px solid #333;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
}

.service-box:hover {
  transform: translateY(-5px);
  border-color: #f97316;
}

/* PROJECTS */
.projects {
  padding: 80px 10%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-item {
  height: 200px;
  background: #222;
  border-radius: 8px;
  overflow: hidden;
}

.project-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =======================
    RWD
======================= */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .service-grid,
  .project-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 40px;
  }
}
